extends layout

block content
	h1= title
	p Welcome to #{title}
	if (!user)
		a(href='/users/register') Register
			div
		a(href='/users/login') Login
	if (user)
		You are currently logged in as #{user.email}
