body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.col-md-12 column {
   text-align:center;
}
.col-md-12 column form {
   display:inline-block;
}

.btn-center {
  display:inline-block;
}
